<h1>Editing Customer</h1>

<%= render 'form' %> #fa un partial, cioè spezzetta un file html. In rails sono indicati con un _ all'inizio

<%= link_to 'Show', @customer %> |
<%= link_to 'Back', customers_path %>
